body{
	font: normal 1em 'Quicksand', helvetica, arial, sans-serif;
}
#map{
	height:500px;
	width:55%;
	/* left:15%; */
	background: #fff;
	border: 0.5px solid #bdbdbd
}

.container{
	max-width: 90%;
}

#picture-copyright{
	font-size:12px;
	word-break: break-word;
}

.popup-title{
	font-weight:bold;
}
.leaflet-container{
	background: #fff;
}

/*Legend specific*/
.legend {
	padding: 6px 8px;
	font: 14px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	/*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
	/*border-radius: 5px;*/
	line-height: 24px;
	color: #555;
}
.legend h4 {
	text-align: center;
	font-size: 16px;
	margin: 2px 12px 8px;
	color: #777;
}

.legend span {
	position: relative;
	bottom: 3px;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin: 0 8px 0 0;
	opacity: 0.7;
}

.legend i.icon {
	background-size: 18px;
	background-color: rgba(255, 255, 255, 1);
}

.leaflet-top .leaflet-control {
    margin-top: 200px;
}

.leaflet-left .leaflet-control {
    margin-left: 130px;
}

.nav-tabs {
	/*border-bottom: 1px solid #f98b57*/
	border-bottom: 1px solid #212529
}
/* 标签链接样式 */
.nav-tabs .nav-link{
	/*color: #f98b57;*/
	color: #212529;
}
.nav-tabs .nav-link:hover{
	/*border: 1px solid #f98b57*/
	border: 1px solid #212529
}
/* 当前选中标签样式 */
.nav-tabs .nav-link.active {
	color: white;
	/*background-color: #f98b57;*/
	background-color: #212529;
    /*border-color: #dee2e6 #dee2e6 #f98b57;*/
    border-color: #dee2e6 #dee2e6 #212529;
}


/* 当前选中标签之后插入的样式 */
.nav .nav-tabs li.active a:after {

}
/* 标签内容页样式 */
.nav .tab-content {

}
/* //在小屏幕中的样式 */
@media only screen and (max-width: 480px) {
}
#navtab{
	padding-bottom: 10rem
}

.reference{
	/*border-bottom: 1px dotted #f98b57;*/
	border-bottom: 1px dotted #212529;
}

footer{
	color: #fff;
	/*background-color: #f98b57;*/
	background-color: #212529;
}
